# PostgreSQL (una instancia, dos bases — database-per-service)
POSTGRES_USER=admin
POSTGRES_PASSWORD=changeme
POSTGRES_DB_CLIENTS=bank_clients
POSTGRES_DB_ACCOUNTS=bank_accounts
POSTGRES_PORT=5433

# RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_HOST=rabbitmq