ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__DefaultConnection=Host=postgres-db;Port=5432;Database=bank_clients;Username=admin;Password=changeme
RabbitMQ__Host=rabbitmq
RabbitMQ__User=guest
RabbitMQ__Password=guest